.navbar-light{
  background-color: #F5F5F5 !important;
  align-content: center !important;
  align-items: flex-start !important;
  display: flex !important;
  flex-direction: row !important;
  height: 10.018518vh !important;
  box-shadow: 0px 0px 15px rgba(222,222,222,1) !important;
}

.center {
  display: flex;
  flex-direction: row;
  height: 78.981482vh;
  background-color: #F0F0F0;
}

.column1{
  width: 30%;
  background-color: #F0F0F0;
}

.column2 {
  display: flex;
  align-content: center;
  width: 40%;
  background-color: #F0F0F0;
}

.inputBox {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.btn-primary {
  width: 33.33%;
  margin-left: 33.33%;
}

.column3 {
  width: 30%;
  background-color: #F0F0F0;
}

.bottom {
  height: 5vh;
  background-color: #474747;
}

.submit {
  border-color: #257dc0;
  margin-top: 5%;
  background-color: #257dc0;
}

.bottombar {
  height: 11.37037vh;
  background-color: #F5F5F5;
}
